.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9rem; 
}

.login-box {
  width: 24rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  padding: 2rem;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 1.75rem;
  margin-top: 0.5rem;
  color: #8f00ff;
}

.input-box {
  width: 22rem !important;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.875rem;
  outline: none;
}

.error-text {
  color: #ef4444;
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
}

button.btn-primary {
  width: 100%;
  background-color: #8f00ff;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.signup-text {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1rem;
}

.signup-link {
  font-weight: 500;
  text-decoration: underline;
  color: #8f00ff;
}