.password-wrapper {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.password-input {
  width: 22rem;
  font-size: 0.875rem;
  background-color: transparent;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
}

.eye-icon {
  cursor: pointer;
  padding-right: 1rem;
  color: #8f00ff;
}